<apex:page standardController="Account" renderAs="PDF">    
    <apex:form id="thfrm">
      <center style="font-size:18px;font-weight:bold">Account Details</center>
        <br/>
        <table>
            <tr><td><b>Account Name : </b></td><td>{!Account.Name}</td></tr>
            <tr><td><b>Account Phone : </b></td><td>{!Account.Phone}</td></tr>
            <tr><td><b>Account Number : </b></td><td>{!Account.AccountNumber}</td></tr>
            <tr><td><b>Account Website : </b></td><td>{!Account.Website}</td></tr>
        </table>
    </apex:form>
 </apex:page>