<apex:page standardController="Vitals__c" extensions="NewVitalsExtension">
    <apex:form >
        <apex:sectionHeader title="{!$ObjectType.Vitals__c.label}" subtitle="{!Vitals__c.name}"/>
        <apex:pageBlock title="{!$ObjectType.Vitals__c.label} Edit"  mode="edit">
            
            <apex:pageBlockButtons id="editButtons" location="top" rendered="true">
                <apex:commandButton id="saveBtn" value="Save" action="{!save}" />
                <apex:commandButton id="cancelBtn" value="Cancel" action="{!cancel}" />
            </apex:pageBlockButtons>
            <apex:pageBlockSection showHeader="true" columns="1">
                <apex:inputField value="{!myVitals.Height_cms__c}" style="width: 90px;"/>
                <apex:inputField value="{!myVitals.Height_Unit__c}" label="" style="margin-top: -26px;margin-left: 291px;height: 20px;"/>
                <apex:inputField value="{!myVitals.Weight_kgs__c}" style="width: 90px;"/>
                <apex:inputField value="{!myVitals.Weight_Unit__c}" label="" style="margin-top: -26px;margin-left: 291px;height: 20px;"/>
                <apex:inputField value="{!myVitals.Heart_Rate_bits_min__c}"/>
                <apex:inputField value="{!myVitals.BP_Systolic__c}"/>
                <apex:inputField value="{!myVitals.BP_Diastolic__c}"/>
                <apex:inputField value="{!myVitals.Temp_F__c}"/>
                <apex:inputField value="{!myVitals.Patient__c}" required="true"/>
                <apex:inputField value="{!myVitals.Visit__c}"/>
            </apex:pageBlockSection>
            <apex:pageBlockButtons id="editBottomButtons" location="bottom" rendered="true">
                <apex:commandButton id="saveBtn" value="Save" action="{!save}" />
                <apex:commandButton id="cancelBtn" value="Cancel" action="{!cancel}" />
            </apex:pageBlockButtons>
            <apex:pageBlockSection showHeader="true" columns="2">
                
            </apex:pageBlockSection>
            
        </apex:pageBlock> 
    </apex:form>
</apex:page>